<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>微视频详情</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	<img class="avatar size-XL l" src="../static/upload/{{ picture.picture_name }}" >
	<dl style="margin-left:100px; color:#fff">
		
		<dt>
			<span class="f-18">{{ micro_video.name }}</span>
			<span class="pl-10 f-12">发布人：张三</span>
		</dt>
		
	</dl>
</div>
<div class="pd-20">
	<table class="table">
		<tbody>
			
			<tr>
				<th class="text-r" width="80">标题：</th>
				<td>{{ micro_video.name }}</td>
			</tr>

			<tr>
				<th class="text-r">发布人：</th>
				<td>张三</td>
			</tr>

			<tr>
				<th class="text-r">发布时间：</th>
				<td>{{ micro_video.issue_time }}</td>
			</tr>


			<tr>
				<th class="text-r">片长：</th>
				<td>{{ micro_video.length }}</td>
			</tr>

			
			<tr>
				<video src="../static/files/{{ movie.movie_name }}" controls="controls" autoplay="autoplay" width="200" height="150" ></video>
			</tr>

			<video src=" http://q2cbcbetl.bkt.clouddn.com/{{ movie.movie_name }} " controls="controls" autoplay="autoplay" width="150" height="70" ></video>

	
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>