<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>视频详情</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	<img class="avatar size-XL l" src="{{ picture.picture_name }}" >
	<dl style="margin-left:100px; color:#fff">
		
		<dt>
			<span class="f-18">{{ video.name }}</span>
			<span class="pl-10 f-12">年份：{{ video.year }}</span>
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>
		
	</dl>
</div>
<div class="pd-20">
	<table class="table">
		<tbody>
			
			<tr>
				<th class="text-r" width="80">地区：</th>
				<td>{{ video.region }}</td>
			</tr>

			<tr>
				<th class="text-r">导演：</th>
				<td>{{ video.director }}</td>
			</tr>

			<tr>
				<th class="text-r">简介：</th>
				<td>{{ video.intro }}</td>
			</tr>

			<tr>
				<th class="text-r">次数：</th>
				<td>{{ video.amount }}</td>
			</tr>

			<tr>
				<th class="text-r">标签：</th>
				<td>{{ video.tag }}</td>
			</tr>

			<tr>
				<th class="text-r">英文名：</th>
				<td>{{ video.english_name }}</td>
			</tr>

			<tr>
				<th class="text-r">制片人：</th>
				<td>{{ video.cinemanufacturer }}</td>
			</tr>

			<tr>
				<th class="text-r">主演：</th>
				<td>{{ video.protagonist }}</td>
			</tr>

			<tr>
				<th class="text-r">制片成本：</th>
				<td>{{ video.cost }}</td>
			</tr>

			<tr>
				<th class="text-r">编剧：</th>
				<td>{{ video.scriptwriter }}</td>
			</tr>

			<tr>
				<th class="text-r">上映时间：</th>
				<td>{{ video.release_date }}</td>
			</tr>
			
			<tr>
				<th class="text-r">票房：</th>
				<td>{{ video.box_office }}</td>
			</tr>

			<tr>
				<th class="text-r">制片年份：</th>
				<td>{{ video.year }}</td>
			</tr>

			<tr>
				<th class="text-r">片长：</th>
				<td>{{ video.length }}</td>
			</tr>
	
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>